{% extends 'gestion/base.html' %}

{% block title %}Formulario Autor{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">

        <div class="card p-4 shadow">

            <h3 class="mb-4">👤 Formulario de Autor</h3>

            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Errores:</strong>
                        {{ form.errors }}
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    {{ form.nombre }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo</label>
                    {{ form.correo }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Nacionalidad</label>
                    {{ form.nacionalidad }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Fecha de nacimiento</label>
                    {{ form.fecha_nacimiento }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Biografía</label>
                    {{ form.biografia }}
                </div>

                <button type="submit" class="btn btn-success">
                    Guardar
                </button>

                <a href="{% url 'lista_autores' %}" class="btn btn-secondary">
                    Volver
                </a>

            </form>

        </div>

    </div>
</div>

{% endblock %}